// Color variables
$color-1: #ffe1d1;
$color-2: #ffdbca;
$logo-text-color: #6a4a39;
$accent-color: #ff7676;
$accent-color-2: #ff8989;

body {
  font-family: "Alegreya", sans-serif;
  overflow-x: hidden;
  background: linear-gradient(to left, $color-1 0%, $color-2 100%);
}

/** Header **/
.header {
  display: grid;
  grid-template-columns: 20% 1fr;
  align-content: center;
  font-weight: bold;
  font-size: 20px;
  &-logo {
    align-self: center;
    justify-self: center;
  }
  &-letter {
    font-size: 30px;
    color: $logo-text-color;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.7;
    list-style-type: none;
    &-item {
      margin: 0 47px;
      &:last-child {
        color: $accent-color;
        border-bottom: 4px solid #f8d1be;
      }
    }
  }
}

// Hero section
.container {
  max-width: 1500px;
  margin: 0 auto;
  background: linear-gradient(to left, $color-1 0%, $color-2 100%);

  .hero {
    &-container {
      position: relative;
      min-height: 550px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, minmax(0px, auto));
      grid-template-areas:
        "lamp title sun sun"
        "lamp title sun sun";
      border-bottom: 1px solid $accent-color-2;
      .lamp {
        grid-area: lamp;
        height: auto;
        align-self: end;
        justify-self: end;
      }
      #wave1,
      #wave3,
      #wave5 {
        opacity: 0.8;
        visibility: hidden;
      }
      #waves {
        justify-self: end;
        max-width: 1500px;
        width: 100%;
        grid-column: 1/5;
        align-self: end;
        grid-row: 2/2;
      }
      .container_sun {
        grid-area: sun;
        align-self: end;
        justify-self: start;
        img {
          max-width: 400px;
          min-width: 200px;
          width: 100%;
        }
      }
    }
    #planes {
      width: 100%;
      grid-area: sun;
      justify-self: start;
      align-self: end;
    }
    // Hero call to action
    .hero_cta {
      grid-area: title;
      justify-self: end;
      align-self: center;
    }
    .hero-cta_title {
      font-size: 60px;
      color: #333;
      margin-bottom: 2rem;
    }
  }
}
